<?xml version="1.0"?>
<!--
/**
 * Retailplace_AttributesUpdater
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Dmitriy Fionov <dmitriy@tradesquare.com.au>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <retailplace_attribute_updater>
            <data_size>
                <lines_per_insert>1000000</lines_per_insert>
            </data_size>
        </retailplace_attribute_updater>
    </default>
</config>
