<?xml version="1.0" ?>
<!--
/**
 * Retailplace_AmastyPageSpeedOptimizer
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Alexander Korsun <aleksandr@tradesquare.com.au>
 * @author      Dmitriy Kosykh <dmitriykosykh@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Amasty\PageSpeedOptimizer\Model\Output\LazyLoadProcessor" type="Retailplace\AmastyPageSpeedOptimizer\Rewrite\Model\Output\LazyLoadProcessor"/>
</config>
