<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <email_section>
            <sendmail>
                <enabled>1</enabled>
                <sender>general</sender>
                <email_template>email_section_sendmail_email_template</email_template>
            </sendmail>
        </email_section>
        <shipping>
            <shipper_autocomplete>
                <specific_country>AU</specific_country>
            </shipper_autocomplete>
        </shipping>
        <amasty_hide_price>
            <general>
                <attributes>incomplete_application</attributes>
            </general>
        </amasty_hide_price>
    </default>
</config>