<?xml version="1.0"?>
<!--
/**
 * Retailplace_MobileVerification
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Natalia Sekulich <natalia@tradesquare.com.au
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Retailplace_CustomerAccount">
        <sequence>
            <module name="Mageplaza_CustomerApproval"/>
            <module name="Amasty_HidePrice"/>
            <module name="Amasty_CustomerAttributes"/>
            <module name="ShipperHQ_AddressAutocomplete"/>
            <module name="Magecomp_Countryflag"/>
        </sequence>
    </module>
</config>
