<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <options>
                <street_label>Unit Number/Street Number and Street Name</street_label>
                <street_placeholder>e.g 144/421 Pacific Highway</street_placeholder>
            </options>
        </checkout>
    </default>
</config>
