<?xml version="1.0"?>
<!--
/**
 * Retailplace_OneSellerCheckout
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Dmitriy Fionov <dmitriy@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Retailplace_OneSellerCheckout">
        <sequence>
            <module name="Magento_Checkout"/>
            <module name="Eyemagine_HubSpot"/>
            <module name="Retailplace_MultiQuote"/>
        </sequence>
    </module>
</config>
