<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="bestlabel" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Bestseller Label</label>
			<tab>vdcstore</tab>
			<resource>Retailplace_Bestsellerlabel::config_retailplace_bestsellerlabel</resource>
			<group id="config" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Configuration</label>
				<field id="purchase" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Number of Purchase</label>
					<comment/>
				</field>
				<field id="pastmonths" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Number of past months</label>
					<comment/>
				</field>
				<field id="bestsellercat" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Bestseller Category</label>
					<comment/>
					<source_model>Retailplace\Bestsellerlabel\Model\Config\Source\Categorylist</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
