<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="ZipMoney\ZipMoneyPayment\Model\Charge" type="Zipmoney\Overrides\Rewrite\ZipMoney\ZipMoneyPayment\Model\Charge"/>
</config>
