<?xml version="1.0"?>
<!--
/**
 * Retailplace_Reorder
 *
 * @copyright   Copyright (c) 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Evgeniy Derevyanko <evgeniy@tradesquare.com.au>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="reorder" frontName="reorder">
            <module name="Retailplace_Reorder"/>
        </route>
    </router>
</config>
