<?xml version="1.0"?>
<!--~
  ~ Retailplace_MageplazaCategoryImportExport
  ~
  ~ @copyright   Copyright © 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
  ~ @author      Satish Gumudavelly <satish@kipanga.com.au>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Retailplace_MageplazaCategoryImportExport">
        <sequence>
            <module name="Mageplaza_ImportExportCategories"/>
        </sequence>
    </module>
</config>
