<?xml version="1.0"?>
<!--
/**
 * Retailplace_CssPreProcessor
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Alexander Korsun <aleksandr@tradesquare.com.au>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <css_pre_processor>
            <process_content>
                <disable_exception>1</disable_exception>
            </process_content>
        </css_pre_processor>
    </default>
</config>
