<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smspro>
        	<generalsection>
                <otplength>4</otplength>
        		<buttonclass>action submit primary</buttonclass>
        	</generalsection>
        </smspro>
        <usertemplate>
            <usersignupconfirm>
                <template>Hello, Your OTP for Registration is: {{var otp}}</template>
            </usersignupconfirm>
        </usertemplate>
    </default>
</config>