<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="hide_category" sortOrder="999" translate="label">
			<label>Hide Category</label>
		</tab>
		<section id="hide_category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Hide Category</label>
			<tab>hide_category</tab>
			<resource>Retailplace_Hidecategory::config_retailplace_hidecategory</resource>
			<group id="hide_category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Hide Category</label>
				<field id="hide_category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Hide Category Number</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
