<?xml version="1.0" ?>
<!--
/**
 * Retailplace_Gtm
 *
 * @copyright   Copyright (c) 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Alexander Korsun <aleksandr@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="gtm_code" sortOrder="999" translate="label">
            <label>Gtm Code</label>
        </tab>
        <section id="gtm_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Gtm Code</label>
            <tab>gtm_code</tab>
            <resource>Retailplace_Gtm::config_retailplace_gtm</resource>
            <group id="gtm_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Gtm Code</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="gtm_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Gtm Code</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>
