<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amshopby>
            <category_filter>
                <disable_on_category>1</disable_on_category>
            </category_filter>
        </amshopby>
    </default>
</config>
