<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aghaseller>
            <aghaseller>
                <per_page_values>16,24,32,40,48,60</per_page_values>
                <limit>16</limit>
                <enable/>
            </aghaseller>
        </aghaseller>
    </default>
</config>
