<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smspro>
        	<countryflag>
                <mindigits>8</mindigits>
        		<maxdigits>15</maxdigits>
        	</countryflag>
        </smspro>
    </default>
</config>