<?xml version="1.0" encoding="UTF-8"?> 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Model\Wysiwyg\Images\Storage" type="Magecomp\Webpimages\Model\Wysiwyg\Images\Storage" />
     <type name="Magento\Framework\File\Uploader">
        <plugin name="magecomp_webimages_product" type="Magecomp\Webpimages\Plugin\UploaderPlugin" sortOrder="1" disabled="false"/> 
    </type>
    <preference for="Magento\Catalog\Controller\Adminhtml\Product\Gallery\Upload" type="Magecomp\Webpimages\Controller\Adminhtml\Product\Gallery\Upload" />
    <type name="Magento\Catalog\Model\ImageUploader">
        <plugin name="magecomp_webimages_catalog" type="Magecomp\Webpimages\Plugin\ImageUploaderPlugin" sortOrder="1" disabled="false"/> 
    </type>
    <preference for="Magento\Catalog\Model\Category\Attribute\Backend\Image" type="Magecomp\Webpimages\Override\Category\Backend\Image"/>
    <preference for="Magento\Framework\Image\Adapter\Gd2" type="Magecomp\Webpimages\Image\Adapter\Gd2" />
</config>