<?xml version="1.0"?>
<!--
/**
 * Retailplace_AuPost
 *
 * @copyright   Copyright (c) 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Dmitriy Fionov <dmitriy@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_menuitems_page_edit_tab_form_prepare_form">
        <observer name="add_megamenu_items_customer_group_field"
                  instance="Retailplace\AuPost\Observer\MegamenuPrepareForm" />
    </event>
</config>
