<?xml version="1.0"?>
<!--
/**
 * Retailplace_MiraklShop
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Dmitriy Fionov <dmitriy@tradesquare.com.au>
 * @author      Natalia Sekulich <natalia@tradesquare.com.au>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Retailplace\MiraklShop\Api\Data\ShopInterface"
                type="Retailplace\MiraklShop\Model\Shop"/>
    <preference for="Retailplace\MiraklShop\Api\Data\ShopAmountsInterface"
                type="Retailplace\MiraklShop\Model\ShopAmounts"/>
    <preference for="Mirakl\Core\Model\Shop"
                type="Retailplace\MiraklShop\Model\Shop"/>
    <preference for="Mirakl\Core\Model\ResourceModel\Shop"
                type="Retailplace\MiraklShop\Model\ResourceModel\Shop"/>
    <preference for="Retailplace\MiraklShop\Api\ShopRepositoryInterface"
                type="Retailplace\MiraklShop\Model\ShopRepository"/>
    <type name="Retailplace\MiraklShop\Model\ShopAmountsManagement">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <preference for="Retailplace\MiraklShop\Api\Data\ShopSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
</config>
