<?xml version="1.0"?>
<!--
/**
 * Retailplace_PdfCustomizer
 *
 * @copyright   Copyright (c) 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Alexander Korsun <aleksandr@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_pdf" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="invoice" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="footer" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Text in Footer</label>
                    <config_path>sales_pdf/invoice/footer</config_path>
                </field>
                <field id="exclude_discount_rule_ids" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Discount At Rule Ids For Order Items</label>
                    <config_path>sales_pdf/invoice/exclude_discount_rule_ids</config_path>
                    <comment>Specify comma separated rule id’s</comment>
                </field>
            </group>
        </section>
    </system>
</config>
