<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="restrict_website" instance="Retailplace\MiraklSeller\Observer\RestrictWebsite" />
    </event>
    <event name="controller_action_predispatch_zipmoneypayment_standard_index">
        <observer name="restrict_website" instance="Retailplace\MiraklSeller\Observer\ZipRestrictWebsite" />
    </event>
</config>
