<?xml version="1.0"?>
<!--
/**
 * Retailplace_MobileVerification
 *
 * @copyright   Copyright (c) 2021 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Ruslan Mukhatov <ruslan@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smspro">
            <group id="smsgatways">
                <field id="twilionumber">
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
