<?xml version="1.0"?>
<!--
/**
 * Retailplace_MiraklOrder
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Nikolay Shapovalov <nikolay@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mirakl_sync>
        	<orders>
        		<enabled>1</enabled>
                <import_order_schedule>*/5 * * * *</import_order_schedule>
        	</orders>
        </mirakl_sync>
    </default>
</config>
