<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\CategoryLinkManagement">
        <plugin name="assign_categories_to_menu_category" type="Vdcstore\CategoryTree\Plugin\CategoryLinkManagement" />
    </type>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="get_child_categories" type="Vdcstore\CategoryTree\Plugin\ChildCategories" />
    </type>
    <type name="Mirakl\Mci\Helper\Product\Import\Category">
        <plugin name="mirakl_import_categories_to_menu_category" type="Vdcstore\CategoryTree\Plugin\Import\Category" />
    </type>
	<type name="Mirakl\Mci\Observer\Category\SaveAfterObserver">
		<plugin disabled="false" name="Vdcstore_CategoryTree_Plugin_Mirakl_Mci_Observer_Category_SaveAfterObserver" sortOrder="10" type="Vdcstore\CategoryTree\Plugin\Mirakl\Mci\Observer\Category\SaveAfterObserver"/>
	</type>
    <!-- <preference for="Magento\Catalog\Model\Layer\Category" type="Vdcstore\CategoryTree\Rewrite\Magento\Catalog\Model\Category"/>
    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Category" type="Vdcstore\CategoryTree\Rewrite\Magento\CatalogSearch\Model\Layer\Filter\Category"/> -->
    <type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="updateTree" xsi:type="object">Vdcstore\CategoryTree\Console\Command\UpdateTree</item>
			</argument>
		</arguments>
	</type>
</config>
