<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="plpseller" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Plp Seller</label>
			<tab>vdcstore</tab>
			<resource>Tradesquare_Plpseller::config_tradesquare_plpseller</resource>
			<group id="plpseller" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Plp Seller Configuration</label>
				<field id="enable_module" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Module</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
