<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="retailplace_account_create_post" type="Retailplace\CustomerAccount\Plugin\Controller\Account\CustomerCreatePost" sortOrder="2"/>
    </type>
	<type name="Magento\Framework\View\Layout">
		<plugin name="incomplete-application-session-depersonalize"
				type="Retailplace\CustomerAccount\Plugin\Layout\DepersonalizePlugin" sortOrder="25"/>
	</type>
	<type name="Magento\Framework\App\Action\AbstractAction">
		<plugin name="incomplete-application-app-action-dispatchController-context-plugin"
				type="Retailplace\CustomerAccount\Plugin\App\Action\ContextPlugin" sortOrder="20"/>
	</type>
	<type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
		<arguments>
			<argument name="configurationsMap" xsi:type="array">
				<item name="customerAlreadyExistsPendingErrorMessage" xsi:type="array">
					<item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
					<item name="data" xsi:type="array">
						<item name="template" xsi:type="string">Retailplace_CustomerAccount::messages/customerAlreadyExistsPendingErrorMessage.phtml</item>
					</item>
				</item>
			</argument>
		</arguments>
	</type>
</config>
