<?xml version="1.0"?>
<!--
/**
 * Retailplace_MiraklOrder
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Nikolay Shapovalov <nikolay@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Retailplace_MiraklOrder::mirakl_orders"
             title="Mirakl Orders"
             module="Retailplace_MiraklOrder"
             sortOrder="51"
             resource="Retailplace_MiraklOrder::mirakl_orders"
             parent="Magento_Sales::sales"/>
        <add id="Retailplace_MiraklOrder::mirakl_orders_grid"
             title="Mirakl Orders Grid"
             module="Retailplace_MiraklOrder"
             sortOrder="90"
             action="retailplace_mirakl_order/order/"
             resource="Retailplace_MiraklOrder::mirakl_orders"
             parent="Retailplace_MiraklOrder::mirakl_orders"/>
    </menu>
</config>
