<?xml version="1.0" ?>
<!--
/**
 * Retailplace_MiraklOrder
 *
 * @copyright   Copyright (c) 2022 TRADESQUARE PTY LTD (www.tradesquare.com.au)
 * @author      Nikolay Shapovalov <nikolay@tradesquare.com.au>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="retailplace_mirakl_order" frontName="retailplace_mirakl_order">
			<module name="Retailplace_MiraklOrder" before="Magento_Backend"/>
		</route>
	</router>
</config>
