<div class="min-order-amount">
    <div class="min-order-seller">
        <div data-bind="template: 'Retailplace_MiraklShop/minimum_order_amount'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <div class="seller-freeshipping" data-bind="template: 'Retailplace_MiraklShop/freeshipping_order_amount'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <div data-bind="template: 'Retailplace_MiraklShop/minimum_quote_request_amount'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
    </div>
</div>
