<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mirakl_seller_core>
            <sidemenu_configuration>
                <disable_price_sidemenu>1</disable_price_sidemenu>
                <disable_decimal_sidemenu>1</disable_decimal_sidemenu>
                <disable_attribute_sidemenu>1</disable_attribute_sidemenu>
            </sidemenu_configuration>
            <seller_plp>
                <per_page_values>16,24,32,40,48,60</per_page_values>
                <limit>24</limit>
                <enable/>
            </seller_plp>
            <seller_notify_form>
                <enable>1</enable>
                <region>na1</region>
                <portal_id>8124194</portal_id>
                <form_id>15e6e40d-d20c-4a0f-9b0d-8123ed01c77a</form_id>
            </seller_notify_form>
        </mirakl_seller_core>
        <crontab>
            <default>
                <jobs>
                    <mirakl_seller_sync_all_orders>
                        <schedule>
                            <cron_expr></cron_expr>
                        </schedule>
                    </mirakl_seller_sync_all_orders>
                    <mirakl_seller_accept_all_orders>
                        <schedule>
                            <cron_expr></cron_expr>
                        </schedule>
                    </mirakl_seller_accept_all_orders>
                </jobs>
            </default>
        </crontab>
        <amshopby>
            <general>
                <is_checking_options_reduce>0</is_checking_options_reduce>
            </general>
        </amshopby>
    </default>
</config>
